// Place all the styles related to the plan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.border-plan {
  // border-style: solid;
  // border-width: 5px;
  // margin-top: 75px;
  // margin-bottom: 75px;
  // margin-right: 300px;
  // margin-left: 300px;
  // text-align: center;
  // color: white;
  background-color: rgba(156, 155, 155, 0.5);
     border-style: solid;
     border-style: solid;
       border-width: 5px;
       margin-top: 75px;
       margin-bottom: 75px;
       margin-right: 300px;
       margin-left: 300px;
       text-align: center;
       color: white;
}
.border-plan h3 {
  color: white;
  font-weight: 100;
}

.error {
  text-align: center;
  color: red;
  font-weight: bolder;
  font-size: 20px;
  background-color: white;
}

// altered the font and color
h1 {
  font-family: 'Cooper Black', cursive;
   text-align: center;
	font-size: 44px;
	color: rgba(250, 138, 10, 0.952);
    -webkit-text-stroke: .025px black;
    -webkit-text-fill-color: 1px rgba(250, 138, 10, 0.952);
   padding: 12px 0;
   text-transform: uppercase;
   letter-spacing: 5px;
}
  

.top {
  position:absolute;
  top:0;
  left:10px;
  color: rgb(0, 0, 0);
}

  input[value="Add to My Plans"]:hover {
    background-color: rgba(250, 138, 10, 0.952);
  }

  input[value="View Plan"]:hover {
    background-color: #5bf98a;
  }
  
  
  // replaced some color and style 
  .plan {
    background-color: rgba(156, 155, 155, 0.5);
     border-style: solid;
     border-style: solid;
       border-width: 5px;
       margin-top: 75px;
       margin-bottom: 75px;
       margin-right: 300px;
       margin-left: 300px;
       text-align: center;
   }
  
.plan h1{ 
    font-family: 'Baloo Chettan 2', cursive;
}


.info {
    border-style: solid;
    border-width: 5px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
}


.submit_button{
  input[type="submit"] {
      padding: 10px 16px;
      font-size: 18px;
      text-transform: uppercase;
      border: none;
      background-color: rgba(250, 138, 10, 0.952);
      color: #fff;
      font-weight: bold;
      margin: auto;
      margin-bottom: 50px;
      cursor: pointer;
  }
}

.exercise_list {
  border-style: solid;
  border-width: 5px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-right: 300px;
  margin-left: 300px;
  text-align: center;
}

.plan h3 {
  font-family: 'Baloo Chettan 2', cursive;
  color: rgba(250, 138, 10, 0.952);
    -webkit-text-stroke: .01px white;
    -webkit-text-fill-color: 1px rgba(250, 138, 10, 0.952);
    font-size: 32px;
}
.plan h5{
  color: white;
 
  font-family: 'Cooper Black';
  
}

.border-plan h3 {
  font-family: 'Baloo Chettan 2', cursive;
    color: white;
   
  font-size: 32px;
  }
  a:visited { 
    text-decoration: none; color:rgba(250, 138, 10, 0.952); 
  }
  a {
    text-decoration: none;
  }