// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html { 
    background: url(background6.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  h1 {
    font-family: "Bookman Old Style";
   font-size: 42px;
   text-align: center;
   color: rgb(245, 240, 240);
   padding: 12px 0;
   text-transform: uppercase;
   letter-spacing: 5px;
  }
  h2 {
    font-family: "Bookman Old Style";
    color: black;
    text-transform: uppercase;
    font-size: 26px;
   }

.center {
    text-align: center;
    margin: auto;
    margin-top: 70px;
    margin-right: 475px;
    margin-left: 475px;
    border: black;
    border-style: solid;
    border-radius: 15px;
    border-width: medium;
    background-color: seashell;
   }
input[type="text"], input[type="password"] {
    margin: auto;
}

   input[value="Log In"]  {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #df5709;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
  }
  
  input[value="Log In"]:hover {
    background-color: #f9735b;
  }

  input[value="Create New User"]:hover {
    background-color: #5bf98a;
  }
  input[value="Create New User"] {
    background-color: hsl(130, 58%, 43%);
  }


  .error-message {
    text-align: center;
    color: red;
    font-weight: bolder;
    font-size: 20px;
  }


